@{
    ViewData["Title"] = "Home Page";
}

<section id="header-banner" class="jumbotron jumbotron-fluid bg-primary text-white text-center mb-0">
    <div class="container">
        <h1>Welcome to Workout Log</h1>
        <p>Your personal fitness journey starts here!</p>
    </div>
</section>

<section id="get-started" class="container mt-4">
    <h2>Getting Started Today!</h2>
    <p>Ready to embark on your fitness journey? Join us and start tracking your workouts with ease. Your goals, our technology – a perfect match!</p>
</section>

<section id="about-creator" class="container mt-4">
    <h2>About the Creator</h2>
    <p>Hi there, I'm Miguel, the passionate developer behind Workout Log. With a love for fitness and technology, I've created this platform to help you seamlessly track your workouts and achieve your goals.</p>
</section>

<section id="updates" class="container mt-4">
    <h2>Latest Updates</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Release 1.0: Project creation</h3>
            <ul>
                <li>Introducing MVC design patterns for better organization.</li>
                <li>Enhanced security with login and registration authentication.</li>
                <li>Leveraged the power of SQL database for efficient data management.</li>
            </ul>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h3 class="card-title">Release 1.1: Coming Soon!</h3>
            <ul>
                <li>Added more details to workouts, including date and time.</li>
                <li>Edit entered workouts for accurate tracking.</li>
                <li>Delete unwanted workouts with ease.</li>
                <li>Enhanced UI for a more user-friendly experience.</li>
            </ul>
        </div>
    </div>
</section>

<section id="technologies-used" class="container mt-4">
    <h2>Featured Technologies</h2>
    <ul>
        <li>ASP.NET for seamless application development.</li>
        <li>MVC Design Patterns for a clean and organized codebase.</li>
        <li>CSS and Bootstrap classes for personalized UI customization.</li>
        <li>Secure Login and Registration Authentication for data protection.</li>
        <li>SQL Database to efficiently store and manage workout data.</li>
    </ul>
</section>

<section id="follow-on-github" class="container mt-4">
    <h2>Stay Updated! Follow us on GitHub</h2>
    <p>Don't miss out on the latest updates and enhancements. Follow the project on GitHub to track its progress and get notified about new features.</p>
    <a href="https://github.com/Miguel619/WorkoutLogs" target="_blank" class="btn btn-primary">Follow on GitHub</a>
</section>
